/* 
Author(s) : Balraj Singh Bains, Mark Ericson Santos
Date : 12/01/2017
*/

/* Media queries to change style for larger screens */
@media screen and (min-width: 400px) {

form.login-form{
    width: 50%;
    float: left;
}

form.signup-form{
    width:50%;
    float:right;
}

}