/* 
Author(s) : Balraj Singh Bains, Mark Ericson Santos
Date : 12/01/2017
*/

/* Base styles */

dt {
    margin: 10px;
    margin-bottom: 5px;
    font-size: 110%;
}

dd {
    margin-bottom: 20px;
    margin-left:10px;
    font-size: 90%;
}

footer.jumbotron{
    margin-bottom: 0px;
}

footer.jumbotron > .container{
    padding-left: 0px;
    padding-right: 0px;
}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
}